In [1]:
import pandas as pd

## Data Loading

In [3]:
df_ratings = pd.read_csv('ml-latest/ratings.csv')
df_ratings

          userId  movieId  rating   timestamp
0              1        1     4.0  1225734739
1              1      110     4.0  1225865086
2              1      158     4.0  1225733503
3              1      260     4.5  1225735204
4              1      356     5.0  1225735119
...          ...      ...     ...         ...
33832157  330975     8340     2.0  1091583256
33832158  330975     8493     2.5  1091585709
33832159  330975     8622     4.0  1091581777
33832160  330975     8665     3.0  1091581765
33832161  330975     8783     2.5  1091581799

[33832162 rows x 4 columns]

In [4]:
df_movies = pd.read_csv('ml-latest/movies.csv')
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
86532,288967,State of Siege: Temple Attack (2021),Action|Drama
86533,288971,Ouija Japan (2021),Action|Horror
86534,288975,The Men Who Made the Movies: Howard Hawks (1973),Documentary
86535,288977,Skinford: Death Sentence (2023),Crime|Thriller
86536,288983,UNZIPPED: An Autopsy of American Inequality (2...,Documentary

In [12]:
df_tags = pd.read_csv('ml-latest/tags.csv')
df_tags

         userId  movieId                  tag   timestamp
0            10      260         good vs evil  1430666558
1            10      260        Harrison Ford  1430666505
2            10      260               sci-fi  1430666538
3            14     1221            Al Pacino  1311600756
4            14     1221                mafia  1311600746
...         ...      ...                  ...         ...
2328310  330923   176599  politically correct  1507547491
2328311  330933     3317        coming of age  1351279384
2328312  330933     3317            sexuality  1351279389
2328313  330947     5782       Not Luc Besson  1154110902
2328314  330947    44191           comic book  1154271525

[2328315 rows x 4 columns]

In [14]:
df_genome_scores = pd.read_csv('ml-latest/genome-scores.csv')
df_genome_scores

          movieId  tagId  relevance
0               1      1    0.03200
1               1      2    0.02225
2               1      3    0.07000
3               1      4    0.05900
4               1      5    0.12300
...           ...    ...        ...
18472123   288167   1124    0.09875
18472124   288167   1125    0.02950
18472125   288167   1126    0.02275
18472126   288167   1127    0.11225
18472127   288167   1128    0.03025

[18472128 rows x 3 columns]

In [10]:
df_genome_tags = pd.read_csv('ml-latest/genome-tags.csv')
df_genome_tags

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]